<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- 配置不过滤的资源（静态资源及登录相关） -->
	<http pattern="/theme/**" security="none" />
	<http pattern="/upload/**" security="none" />

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
		<form-login default-target-url="/console" login-processing-url="/console" />
		<logout />
		<remember-me services-ref="rememberMeServices"
		authentication-success-handler-ref="authenticationSuccessHandler" />
<!-- 		<custom-filter position="REMEMBER_ME_FILTER" ref="rememberMeFilter" /> -->
	</http>
	
		<beans:bean id="rememberMeFilter" class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
		<beans:constructor-arg name="rememberMeServices" ref="rememberMeServices"/>
		<beans:constructor-arg name="authenticationManager" ref="authenticationManager"/>
		<beans:property name="authenticationSuccessHandler" ref="authenticationSuccessHandler"/>
	</beans:bean>
	<beans:bean id="rememberMeServices" class="org.springframework.security.web.authentication.rememberme.TokenBasedRememberMeServices">
		<beans:constructor-arg name="userDetailsService" ref="userLoginService"/>
		<beans:constructor-arg name="key" value="springRocks"/>
	</beans:bean>
	<beans:bean id="rememberMeAuthenticationProvider" class="org.springframework.security.authentication.RememberMeAuthenticationProvider">
		<beans:constructor-arg name="key" value="springRocks"/>
	</beans:bean>
	
	      <!-- 自定义登录成功后的处理handler -->
    <beans:bean id="authenticationSuccessHandler" class="cn.imethan.common.security.CustomLoginHandler">
		<beans:property name="alwaysUseDefaultTargetUrl" value="true" />
		<beans:property name="defaultTargetUrl" value="/console" />
    </beans:bean> 
	

	<authentication-manager alias="authenticationManager">
		<authentication-provider>
			<user-service>
				<user name="ethan" password="123456" authorities="ROLE_USER, ROLE_ADMIN" />
				<user name="bob" password="bobspassword" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
	
	<beans:bean name="userLoginService" class="cn.imethan.common.security.UserLoginService"/>

</beans:beans>