<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- 配置不过滤的资源（静态资源及登录相关） -->
	<http pattern="/theme/**" security="none" />
	<http pattern="/upload/**" security="none" />
	
	<global-method-security secured-annotations="enabled"/>
	
	<debug/>
	
	<http entry-point-ref="authenticationEntryPoint" use-expressions="true" auto-config="false" >
		<!-- 没有权限处理过滤 -->
		<access-denied-handler ref="accessDeniedHandler"/>
		<!-- 登录过滤 -->
		<custom-filter position="FORM_LOGIN_FILTER" ref="customLoginFilter" />
<!-- 		<form-login login-page="/login"  login-processing-url="/console" always-use-default-target="true"/> -->
		<csrf />
		<!-- 注销过滤 -->
		<custom-filter position="LOGOUT_FILTER" ref="customLogoutFilter"/>

	    <!-- 认证过滤器, 动态加载数据库中的URL与权限的关系 -->
        <custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="securityFilter" />
        
<!--         <remember-me /> -->
        
<!--         <custom-filter position="REMEMBER_ME_FILTER" ref="rememberMeFilter" /> -->
		<!-- 会话过滤 -->
<!-- 		<session-management invalid-session-url="/login?error=max"> -->
<!-- 			<concurrency-control max-sessions="1"  error-if-maximum-exceeded="true"  /> -->
<!-- 		</session-management> -->
	</http>
	
	<beans:bean id="rememberMeFilter" class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
		<beans:constructor-arg name="rememberMeServices" ref="rememberMeServices"/>
		<beans:constructor-arg name="authenticationManager" ref="authenticationManager"/>
		<beans:property name="authenticationSuccessHandler" ref="authenticationSuccessHandler"/>
	</beans:bean>
	<beans:bean id="rememberMeServices" class="org.springframework.security.web.authentication.rememberme.TokenBasedRememberMeServices">
		<beans:constructor-arg name="userDetailsService" ref="userLoginService"/>
		<beans:constructor-arg name="key" value="springRocks"/>
	</beans:bean>
	<beans:bean id="rememberMeAuthenticationProvider" class="org.springframework.security.authentication.RememberMeAuthenticationProvider">
		<beans:constructor-arg name="key" value="springRocks"/>
	</beans:bean>
	
	<beans:bean id="authenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:constructor-arg value="/login"/>
	</beans:bean>	

	<!-- 认证过滤器 -->
	<beans:bean id="securityFilter" class="cn.imethan.common.security.SecurityFilter">
        <!-- 用户拥有的权限 -->
        <beans:property name="authenticationManager" ref="authenticationManager" />
        <!-- 用户是否拥有所请求资源的权限 -->
		<beans:property name="accessDecisionManager" ref="accessDecisionManager" />
		<!-- 资源与权限对应关系 -->
		<beans:property name="securityMetadataSource" ref="securityMetadataSource" />
    </beans:bean>
    
    <beans:bean name="accessDecisionManager" class="cn.imethan.common.security.SecurityAccessDecisionManager"/>
    
    <beans:bean name="securityMetadataSource" class="cn.imethan.common.security.InvocationSecurityMetadataSource">
    	<beans:constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </beans:bean>
	
	<!-- 登录过滤 -->
	<beans:bean id="customLoginFilter" class="cn.imethan.common.security.CustomLoginFilter">
		
        <beans:property name="authenticationManager" ref="authenticationManager" />
        <beans:property name="authenticationSuccessHandler" ref="authenticationSuccessHandler"/>
        <beans:property name="authenticationFailureHandler">
            <beans:bean class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
                <!-- 登录失败后的默认Url -->
                <beans:property name="defaultFailureUrl" value="/login?error" />
            </beans:bean>
        </beans:property>
    </beans:bean>   
      <!-- 自定义登录成功后的处理handler -->
    <beans:bean id="authenticationSuccessHandler" class="cn.imethan.common.security.CustomLoginHandler">
		<beans:property name="alwaysUseDefaultTargetUrl" value="true" />
		<beans:property name="defaultTargetUrl" value="/console" />
    </beans:bean> 
	
	<!-- 注销过滤 -->
	<beans:bean id="customLogoutFilter" class="cn.imethan.common.security.CustomLogoutFilter">
		<!-- 处理退出的虚拟url -->
		<beans:property name="filterProcessesUrl" value="/logout" />
		<!-- 退出处理成功后的默认显示url -->
		<beans:constructor-arg index="0" value="/login?logout" />
		<beans:constructor-arg index="1">
			<!-- 退出成功后的handler列表 -->
			<beans:array>
				<beans:bean id="securityContextLogoutHandler" class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
				<!-- 加入了开发人员自定义的退出成功处理 -->
				<beans:bean id="customLogoutSuccessHandler" class="cn.imethan.common.security.CustomLogoutHandler" />
			</beans:array>
		</beans:constructor-arg>
	</beans:bean>
	
	<beans:bean id="accessDeniedHandler" class="cn.imethan.common.security.AccessDeniedHandlerImpl">
		<beans:property name="errorPage" value="/WEB-INF/content/base/error/403.jsp" />
	</beans:bean>


	<beans:bean name="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<authentication-manager  alias="authenticationManager" erase-credentials="false">
		<!-- 
		<authentication-provider>
			<password-encoder ref="bcryptEncoder" />
			<user-service>
				<user name="ethan" password="$2a$10$HOz1fu6Arb1yc/uDHdfmJ.YL64rkvwTSxX.mYXN.1eWu3V0KSBtGO"
					authorities="ROLE_USER, ROLE_ADMIN" />
				<user name="bob" password="4e7421b1b8765d8f9406d87e7cc6aa784c4ab97f" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
		-->
		<authentication-provider user-service-ref="userLoginService">
			<password-encoder ref="bcryptEncoder" />
		</authentication-provider>
	</authentication-manager>
	
	<beans:bean name="userLoginService" class="cn.imethan.common.security.UserLoginService"/>

</beans:beans>