<?xml version="1.0" encoding="UTF-8"?>
<!-- status表示log4j事件输出控制台级别，分别有"trace", "debug", "info", "warn", "error","fatal" -->
<!-- monitorInterval表示log4j会自动监听配置文件的变动，最小监听时间为5秒 -->
<Configuration status="WARN" monitorInterval="5">

   <!-- 通用属性配置 -->
  <Properties>
    <Property name="appname">imethan-admin</Property>
  </Properties>
  
  <!-- 默认过滤等级 -->
  <ThresholdFilter level="trace"/>
  
  <Appenders>
  	<!-- 控制台输出 -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    
    <!-- 每日文件记录 -->
	<RollingFile name="RollingFile" fileName="logs/${appname}.log" filePattern="logs/${appname}-%d{MM-dd-yyyy}.log.gz">
      <BurstFilter level="warn" rate="16" maxBurst="100"/>
      <PatternLayout>
        <pattern>%d %p %c{1.} [%t] %m%n</pattern>
      </PatternLayout>
      <TimeBasedTriggeringPolicy />
    </RollingFile>
	<RollingFile name="RollingFileError" fileName="logs/${appname}-error.log" filePattern="logs/${appname}-error-%d{MM-dd-yyyy}.log.gz">
      <ThresholdFilter level="error" />
      <PatternLayout>
        <pattern>%d %p %c{1.} [%t] %m%n</pattern>
      </PatternLayout>
      <TimeBasedTriggeringPolicy />
    </RollingFile>
    
    <!-- NoSql数据库记录 -->
    <NoSql name="databaseAppender" ignoreExceptions="false">
      <MongoDb databaseName="database" collectionName="applicationLog" server="127.0.0.1"
               username="" password="" />
    </NoSql>
        
  </Appenders>
  
  <Loggers>
  	<!-- 全局日志记录 -->
    <Root level="debug">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingFile"/>
      <AppenderRef ref="RollingFileError"/>
    </Root>
    
    <Logger name="org.hibernate" level="debug" additivity="false">
    	<AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework.orm" level="debug" additivity="false">
    	<AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework.security" level="debug" additivity="false">
    	<AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework.core" level="warn" additivity="false">
    	<AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework.context" level="warn" additivity="false">
    	<AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework.beans" level="warn" additivity="false">
    	<AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework.web" level="warn" additivity="false">
    	<AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework.aop" level="error" additivity="false">
    	<AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework.transaction" level="error" additivity="false">
    	<AppenderRef ref="Console"/>
    </Logger>
    
  </Loggers>
</Configuration>